<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration >
<Configuration packages="reportConfig">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] [%d] %m%n"/>
        </Console>

        <File name="Logfile" fileName="./scriptLogs/NopCommerce.txt">
            <PatternLayout pattern="[%-5p] [%d] %m%n"/>
        </File>

        <File name="File" fileName="./scriptLogs/NopCommerce.log">
            <PatternLayout pattern="[%-5p] [%d] %m%n"/>
        </File>

      <ReporterAppender name="testngAppender">
            <PatternLayout pattern="[%-5p] [%d{dd-MM-yyyy HH:mm:ss}] %m%n"/>
       </ReporterAppender>

    </Appenders>
    <Loggers>
        <Root level="all" >
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="Logfile"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="testngAppender" />>
        </Root>
    </Loggers>
</Configuration>