<Configuration>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d] %m%n" />
		</layout>
	</appender>

	<appender name="logfile" class="org.apache.log4j.FileAppender">
		<param name="File" value="./LogReport4J/NopCommerce.txt" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d] %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="./LogReport4J/NopCommerce.log" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d] %m%n" />
		</layout>
	</appender>

	<appender name="testng" class="commons.TestNGAppender">
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] [%d] %m%n" />
		</layout>
	</appender>
	
  	<Log>
    <Log name="org.apache.log4j2.xml" level="info"/>
    </Log>
	<category name="com.nopcommerce.user">
		<priority value="all" />
		<appender-ref ref="console" />
		<appender-ref ref="logfile" />
		<appender-ref ref="file" />
		<appender-ref ref="testng" />
	</category>

	<root>
		<priority value="infor" />
	</root>
</Configuration>
